<mat-card class="new-book-card">
  <mat-card-title>Book</mat-card-title>
  <form class="new-book-form">
    <mat-form-field class="new-book-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Oliver Twist">
    </mat-form-field>

    <mat-form-field class="new-book-full-width">
      <mat-label>Author</mat-label>
      <input matInput placeholder="Ex. Charles Dickens">
    </mat-form-field>

    <mat-form-field class="new-book-full-width">
      <mat-label>Publisher</mat-label>
      <input matInput placeholder="Ex. Richard Bentley">
    </mat-form-field>

    <mat-form-field class="new-book-full-width">
      <mat-label>Genre</mat-label>
      <input matInput placeholder="Ex. Serial novel">
    </mat-form-field>

    <button mat-raised-button color="primary">Save</button>
  </form>
</mat-card>
